* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 28px;
  padding-left: 16px;
  padding-right: 16px;
}
  .header-logo {
    padding-left: 16px;
    margin-right: 57.4%;
}
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
  .menu-link {
  text-decoration: none;
}
  .menu-li {
  list-style: none;
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  font-weight: medium;
  color: #000000;
}
  .menu-li2 {
  list-style: none;
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  font-weight: medium;
  color: #BBF330;
  text-decoration: underline;
}
  .header-btn {
    font-family: 'Roboto', 'sans-serif';
    border-radius: 30px;
    margin-left: 30px;
    color: #2C2C2C;
    font-weight: medium;
    font-size: 13px;
    line-height: 150%;
    background-color: #BBF330;
    border-color: #BBF330;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
.section1-h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  margin: 0;
}

.section1-article {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  margin: 0;
}
.section1-btn {
  font-family: 'Roboto', 'sans-serif';
  padding-right: 16px;
  border-radius: 30px;
  border-color: #BBF330;
  color: #2C2C2C;
  font-weight: medium;
  font-size: 13px;
  line-height: 150%;
  background-color: #BBF330;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.section1-p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-top: 28px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

.div-img {
  width: 40%;
}

.section1-div {
  width: 40%;
}

.div-offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7%;
  background: url(src/images/bg-section1.png) no-repeat;
  background-size: cover;
  padding-top: 165px;
}

.div-h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  margin-bottom: 20px;
}

.div-advantages {
  padding-right: 4%;
  width: 100%;
}

.div-paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-bottom: 40px;
}

.section1-icontext {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 11.5%;
}

.racket-image {
  padding-bottom: 8px;
}

.div-h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-bottom: 16px;
}

.div-p2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-bottom: 32px;
}

.div-logo {
  padding-bottom: 8px;
}

.order-div-h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-bottom: 16px;
}

.order-div-p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.offers-btn {
  width: 106px;
  height: 40px;
  border: 2px solid green;
  border-radius: 15px;
}

.order-div, .section1-rocketcard {
  width: fit-content;
  justify-content: center;
}
.div-text-h1 {
font-weight: bold;
font-size: 42px;
font-family: 'Roboto', 'sans-serif';
color: #2C2C2C;
padding-left: 16px;
}

.section2 {
margin-top: 100px;
}

.section2-h1 {
font-family: 'Roboto', 'sans-serif';
display: flex;
justify-content: center;
align-items: center;
font-size: 42px;
}

.section2-p {
font-family: 'Roboto', 'sans-serif';
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
}

.div-dishes {
display: flex;
align-items: center;
gap: 2.5%;
margin-top: 40px;
flex-wrap: wrap;
}

.section2-cards {
width: 31.6%;
margin-bottom: 32px;
}

.section2-cards img {
width: 100%;
}
.div-text-p {
font-weight: normal;
font-size: 16px;
font-family: 'Roboto', 'sans-serif';
color: #2C2C2C;
padding-left: 16px;
}
.section3 {
  padding-left: 16px;
  background-image: url(src/images/bg.section3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  }
  .div-text-h1 {
  font-weight: bold;
  font-size: 42px;
  font-family: 'Roboto', 'sans-serif';
  color: #2C2C2C;
  padding-top: 100px;
  }
  .div-text-p {
  font-weight: normal;
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
  color: #2C2C2C;
  margin-bottom: 32px;
  }
  .div-review-cards {
  display: flex;
  justify-content: space-between;
  padding-right: 9.6%;
  padding-left: 16px;
  padding-bottom: 134px;
  }
  .div-review1 .div-review2{
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 0px 30px 30px 30px;
  width: 501px;
  background-color: #FEFEFE;
  }
  .div-reviews-p {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: bold;
  }
  .div-review-img {
  margin-bottom: 16px;
  }
  .div-review-author {
  display: flex;
  gap: 14px;
  align-items: center;
  }
  .div-review-author img {
  width: 40px;
  height: 40px;
  }
  .div-name {
    font-size: 14px;
    font-weight: medium;
  }
  .div-lastname {
    font-size: 14px;
    font-weight: normal;
  }
  .div-names {
    border-right: 1px solid #7EB101;
    padding-right: 14px;
  }
  .div-regestration {
    padding-left: 17px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    }
    .div-regestration-h1 {
    font-weight: bold;
    font-size: 42px;
    font-family: 'Roboto', 'sans-serif';
    color: #2C2C2C;
    }
    .div-regestration-p {
    font-weight: normal;
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    margin-bottom: 24px;
    }
    .div-btn-img {
      display: flex;
      justify-content: space-between;
    }
    .div-input {
    width: 394px;
    height: 42px;
    border-color: #FFE550;
    margin-right: 32px;
    padding-left: 11px;
    border-radius: 30px;
    }
    .div-regestration-btn {
    border-radius: 30px;
    border-color: #BBF330;
    background-color: #BBF330;
    width: 103px;
    height: 42px;
    }
  footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 100px;
    background: url(src/images/group-fruit.png) no-repeat;
    background-size: cover;
  }
  
  .ul-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-left: 148px;
  }
  
  .footer-image {
    width: 66px;
    height: 52px;
  }
  
  .footer-li {
    list-style: none;
  }
  
  .footer-firs-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div-rules {
    display: flex;
    margin-top: 129px;
    gap: 20px;
  }
  
  .rules-a {
    font-family: 'Roboto', 'sans-serif';
    font-size: 12px;
    color: #7EB101;
  }
  
  .div-subscribing-h3 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    font-weight: medium;
    margin-bottom: 12px;
  }
  
  .div-subscribing {
    width: 279px;
    height: 42px;
    border-radius: 20px;
    border-color: #FFE550;
  }
  
  .div-subscribing-btn {
    font-family: 'Roboto', 'sans-serif';
    width: 103px;
    height: 42px;
    border-radius: 20px;
    border-color: #7EB101;
    font-size: 13px;
  }
  
  .footer-column2-right {
    margin-top: 12px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 12px;
  }
  
  .div-subscribing-a {
    color: #7EB101;
  }
  
  .div-subscribing-p2 {
    margin-top: 80px;
    text-align: right;
  }
  
  .div-subscribing {
    padding-left: 12px;
  }

  @media (max-width: 992px) {
    .header {
      padding-left: 32px;
      padding-right: 32px;
    }
    .header-logo {
      margin-right: 24.8%;
      }
      .menu-li {
        font-weight: normal;
      }
    .section3 {
      padding-left: 32px;
      padding-right: 32px;
    }
    .div-text-h1 {
      padding-top: 60px;
    }
    .div-review-cards {
      gap: 32px;
    }
    .div-review {
      padding-top: 12px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      margin-bottom: 24px;
    }
    .div-regestration {
    padding-left: 32px;
    display: flex;
    justify-content: center;
    }
    .regestration-img {
      margin-top: 46px;
      padding-right: 32px;
      margin-bottom: 20px;
    }
   .div-input {
    margin-right: 22px;
    padding-left: 33px;
   }
  }
  @media (max-width: 350px) {
    nav {
      order: 1;
  }
  label {
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      margin-left: auto;
  }
  .mobile::before, .mobile::after, .mobile {
      content: "";
      display: block;
      width: 25px;
      height: 2px;
      background-color: #333;
      position: absolute;
      right: 0;
      transition: 0.3s;
    }
    .mobile {
     top: 15px;
    }
    .mobile::after {
      top: 8px;
    }
    .mobile::before {
      top: -8px;
    }
    .menu {
      display: none;
    }
    label:hover {
      cursor: pointer;
    }
    input {
      color: #7EB101;
    }
    input[type="checkbox"]:checked ~ .menu {
      display: flex;
      flex-direction: column;
    }
    input[type="checkbox"]:checked ~ .mobile {
      transform: rotate(-45deg);
   }
    input[type="checkbox"]:checked ~ .mobile::before {
      transform: rotate(0deg);
    }
    input[type="checkbox"]:checked ~ .mobile::after {
      transform: rotate(90deg);
    }
    .menu {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      padding: 20px;
      background-color: white;
      box-shadow: 0 12px 8px #ececec;
    }
    .menu-li {
      margin: 15px 0;
    }
    .section3 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .div-text-h1 {
      padding-top: 60px;
    }
    .div-review1 {
      padding: 8px;
      margin-bottom: 24px;
    }
    .div-review2 {
      padding: 8px;
      margin-bottom: 17px;
    }
    .div-review-cards {
      display: block;
    }
  }
  