* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  margin-right: 735px;
  padding-left: 16px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-right: 30px;
}
.menu-link {
  text-decoration: none;
}
.menu-li {
  list-style: none;
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  font-weight: medium;
  color: #000000;
}
.menu-li2 {
  list-style: none;
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  font-weight: medium;
  color: #BBF330;
  text-decoration: underline;
}
.header-btn {
    font-family: 'Roboto', 'sans-serif';
    padding-right: 16px;
    border-radius: 30px;
    border-color: #BBF330;
    color: #2C2C2C;
    font-weight: medium;
    font-size: 13px;
    line-height: 150%;
    background-color: #BBF330;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.section1-h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin: 0;
}

.section1-article {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin: 0;
}

.section1-btn {
    font-family: 'Roboto', 'sans-serif';
    padding-right: 16px;
    border-radius: 30px;
    border-color: #BBF330;
    color: #2C2C2C;
    font-weight: medium;
    font-size: 13px;
    line-height: 150%;
    background-color: #BBF330;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.section1-p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 28px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
}

.div-img {
    width: 40%;
}

.section1-div {
    width: 40%;
}

.div-offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7%;
    background: url(src/images/bg-section1.png) no-repeat;
    background-size: cover;
    padding-top: 165px;
}

.div-h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    margin-bottom: 20px;
}

.div-advantages {
    padding-right: 4%;
    width: 100%;
}

.div-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-bottom: 40px;
}

.section1-icontext {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 11.5%;
}

.racket-image {
    padding-bottom: 8px;
}

.div-h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-bottom: 16px;
}

.div-p2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-bottom: 32px;
}

.div-logo {
    padding-bottom: 8px;
}

.order-div-h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-bottom: 16px;
}

.order-div-p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.offers-btn {
    width: 106px;
    height: 40px;
    border: 2px solid green;
    border-radius: 15px;
}

.order-div, .section1-rocketcard {
    width: fit-content;
    justify-content: center;
}
.div-text-h1 {
  font-weight: bold;
  font-size: 42px;
  font-family: 'Roboto', 'sans-serif';
  color: #2C2C2C;
  padding-left: 16px;
}
.div-text-p {
  font-weight: normal;
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
  color: #2C2C2C;
  padding-left: 16px;
}
.div-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section3 {
  padding-left: 16px;
}
.div-text-h1 {
  font-weight: bold;
  font-size: 42px;
  font-family: 'Roboto', 'sans-serif';
  color: #2C2C2C;
}
.div-text-p {
  font-weight: normal;
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
  color: #2C2C2C;
}
.div-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 0px 30px 30px 30px;
  width: 501px;
  height: 227px;
  top: 2716px;
  left: 16px;
  gap: 0px;
  background-color: #FEFEFE;
}
.div-review-image {
  gap: 4px;
}
.div-review-p {
 padding-right: 14px;
}
.div-review2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 0px 30px 30px 30px;
  width: 501px;
  height: 227px;
  top: 2716px;
  left: 16px;
  gap: 0px;
  background-color: #FEFEFE;
}
.div-regestration {
  padding-left: 17px;
  padding-bottom: 100px;
}
.div-regestration-h1 {
  font-weight: bold;
  font-size: 42px;
  font-family: 'Roboto', 'sans-serif';
  color: #2C2C2C;
}
.div-regestration-p {
  font-weight: normal;
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
}
.div-input {
  width: 394px;
  height: 42px;
  border-color: 1px solid #FFE550;
  margin-right: 32px;
}
.div-regestration-btn {
  border-radius: 30px;
  border-color: #BBF330;
  background-color: #BBF330;
  width: 103px;
  height: 42px;
}